Source: eduversum
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com>
Build-Depends: debhelper (>= 7.9.3),
 libqt4-dev,
 qt4-qmake,
 imagemagick,
 libpackagekit-qt-dev
Build-Conflicts: libqt3-dev
Standards-Version: 3.9.1

Package: eduversum
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 menu
Recommends: app-install-data
Description: program starter and menu system for educational applications
 generic menu system to act dynamically on installed packages and describe
 their uses for educational purposes. Missing applications can be installed
 from within eduversum.
