Source: eduversum
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>, Ferdinand Thommes <devil@sidux.com>
Build-Depends: cdbs, debhelper (>= 7), automake1.9, libqt4-dev, qt4-qmake, imagemagick
Standards-Version: 3.8.0

Package: eduversum
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, menu, seminarix-samples
Description: program starter and menu system for educational applications
 generic menu system to act dynamically on installed packages and describe 
 their uses for educational purposes